.sneak_peek_body {
    color: white;
    margin: 0 200px;
  }
  
  .headerImage {
    height: 240px;
    object-fit: cover;
    object-position: top;
  }
  
  .title {
    font-size: 24px;
    padding: 20px 0;
    text-align: center;
  }
  
  .description {
    font-size: 18px;
    width: 50%;
    text-align: center;
    padding: 20px 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  
  
  .logo_container>* {
    padding: 30px 0;
  
    svg {
      height: 180px;
    }
  }
  
  .quest_description {
    display: inline-flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.4em;
    white-space: pre-line;
  }
  
  .last_quests_container {
    padding-bottom: 50px;
  }
  
  .footer {
    font-size: 2em;
  }
  
  @media (max-width: 425px) {
    .quests_container {
      display: grid;
      grid-template-columns: 59% 35%;
      grid-gap: 10px;
      justify-content: center;
      padding-bottom: 10px;
    }
  
    .quest_description{
      font-size: 1em;
    }
  }

.minigames_container {
  padding: 16px;
}

.game_button {
  margin-bottom: 16px;
}

.back_button {
  margin-bottom: 16px;
}
