.profilePage {
  &__avatar {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__avatarInfo {
    display: flex;
    flex-direction: column;
  }

  &__avatarInfo__name {
    font-size: 1.5rem;
  }

  &__avatarInfo__role {
    font-size: 1rem;
    color: var(--adm-color-yellow);
  }

  &__section__input {
    background: var(--surface-secondary);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 8px;

    &__text {
      flex: 1;
      box-shadow: none;
      font-size: 1rem;

      &:focus {
        box-shadow: none;
        outline: none;
      }
    }

    button {
      margin-bottom: 0;
    }
  }
}
