.skill_chip {
  font-size: 1.5em;
  position: fixed;
  transform: rotate(-5deg) translate(-8px, -35px);
}

.xp_chip {
  position: fixed;
  transform: rotate(-5deg) translate(0px, -5px);
}

.step_video {
  aspect-ratio: 16 / 9;
  border-radius: 20px;
  width: 100%;
}

.step {
  position: relative;
  border-radius: 20px;
  /* Match rounded corners similar to the HTML example */
  padding: 20px;
  transition: all 0.4s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Soft shadow for depth, similar to HTML example */
  margin-bottom: 10px;
  margin-top: 10px;
  /* Space between steps */
  background-color: var(--bg-50);
  /* Default background color, uncommented */
  background-color: var(--bg-100);
  /* Highlight current step */
  transform: scale(1);
  /* Ensure it's not scaled down */
  scroll-snap-align: start;
  /* Uncommented to ensure snapping aligns at the start of the scroll container */
  scroll-snap-stop: always;
  /* Ensures snapping stops at this element */
}

.step_text,
.step_question {
  color: var(--white);
  font-size: 2.2em;
  /* Typography adjustment for readability */
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

.serving_size {
  margin-right: 2rem
}

.step_subtitle {
  font-size: 1.5em;
  /* Typography adjustment for readability */
  display: flex;
  /* Ensures items are flexibly aligned */
  margin-top: 8px;
}