.skill_chip {
  font-size: 1.5em;
  position: fixed;
  transform: rotate(-5deg) translate(-8px, -35px);
  z-index: 0;
}

.player_chip {
  font-size: 1.5em;
  position: fixed;
  right: 0px;
  top: -12px;
}

.xp_chip {
  position: fixed;
  transform: rotate(-5deg) translate(0px, -5px);
}

.step_video {
  aspect-ratio: 16 / 9;
  border-radius: 20px;
  width: 100%;
}

.step_image {
  object-fit: cover;
  aspect-ratio: 16 / 9;
  border-radius: 20px;
  width: 100%;
}

.step_text {
  span {
    color: var(--yellow);
  }
}

.step {
  position: relative;
  border-radius: 20px;
  /* Match rounded corners similar to the HTML example */
  padding: 10px;
  transition: all 0.4s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Soft shadow for depth, similar to HTML example */
  margin-bottom: 10px;
  margin-top: 10px;
  /* Space between steps */
  background-color: var(--bg-50);
  /* Default background color, uncommented */

  &.notCurrent {
    transform: scale(0.9);
    z-index: -1;
  }

  &.current {
    background-color: var(--bg-100);
    /* Highlight current step */
    transform: scale(1);
    /* Ensure it's not scaled down */
    scroll-snap-align: start;
    /* Uncommented to ensure snapping aligns at the start of the scroll container */
    scroll-snap-stop: always;
    /* Ensures snapping stops at this element */

    box-shadow: 0px 14px 20px 0px rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
}

.step_text,
.step_question {
  color: var(--white);
  font-size: 2.0em;
  /* Typography adjustment for readability */
  font-weight: 600;
  display: block;
  white-space: pre-line;
}

.step_subtitle {
  font-size: 1.5em;
  /* Typography adjustment for readability */
  display: flex;
  /* Ensures items are flexibly aligned */
  margin-top: 8px;
}

.highlight {
  background-color: #3634a330 !important;
  box-shadow: inset 0 -4px 0 0 #3634a3;
}