.button {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 1.0) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  height: 48px;
  margin-top: 4px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.button:hover {
  background-color: var(--gray-50);
}

.textarea {
  flex-grow: 1;
  border: 1px solid var(--black);
  border-radius: 4px;
  padding: 4px;
}

.title {
  color: black;
}

.container {
  border-radius: 0.5rem;
}